/* Google Fonts Import Link */

.nav-links {
	
	display: flex;
	align-items: center;
	background: rgb(255, 255, 255);
	padding: 15px 15px;
    border-radius: 12px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.center{
	align-content:center;
    align-items: center;
}
.nav-links li {
	list-style: none;
	margin-left:4%;
    }

.nav-links li a {
	margin-left:20%;
	position: relative;
	color: #333;
	font-size: 16px;
	font-weight: 500;
	padding: 4px 0;
	text-decoration: none;
}

.nav-links li a:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 0%;
	background: #34efdf;
	border-radius: 12px;
	transition: all 0.4s ease;
}

.nav-links li a:hover:before {
	width: 100%;
}

.nav-links li.center a:before {
	left: 50%;
	transform: translateX(-50%);
}